* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  text-align: center;
  background: #f8f8ff;
  margin: 0;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #5f9ea0;
  text-align: center;
  border: 1px solid #b0c4de;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

.form,
.content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #b0c4de;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5f9ea0;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
}
.success {
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

table,
th,
td {
  width: 100%;
  border: 2px solid black;
}

.navbarul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 0px solid #e7e7e7;
  background-color: #f8f8ff;
  position: fixed;
  top: 0;
  left: 1px;
  width: 105%;
}

.notok {
  color: red;
}

.ok {
  color: green;
}

.navbarli {
  float: left;
}

.navbara {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbarli a:hover:not(.active) {
  background-color: #111;
  color: white;
}

.active {
  display: block;
  background-color: #04aa6d;
  color: white;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
}

.utext {
  content: "::before";
  background: lightgray;
  border-radius: 1ch;
  padding-inline: 1ch;
  margin-inline-end: 1ch;
}

.litext::marker {
  content: "»";
  font-size: 2em;

  --hue: 0;
  color: hsl(var(--hue) 50% 50%);
}

.litext {
  padding-inline-start: 1ch;
  text-align: left;
}
